DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKV1dES0NaS000OVJGTjZIQkE1RVZXUUciLCJ0ZW5hbnRfaWQiOiI2NTJmYzBiYzE5M2EyNzVmZDcyYTA2ZTYyMjNjYzRhYWQzOWIyNjMyZWE2NzFiNTQ4M2QxYTE2ZDljMjIyZmI2IiwiaW50ZXJuYWxfc2VjcmV0IjoiMDAzZjA2MDMtOGYwZi00ZDU0LWI0MmYtODY1ODRhOTlmYmNmIn0.BYE5nwrgcXJcVqd7qZq3cOaWHd3b_HHB4o8Oz93d9TA 
